<a href="https://colab.research.google.com/github/kt3139/-/blob/master/3%EC%A3%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3주차 과제


1번. 학습률 최적화

답 : 학습률 1.6



2번. 군집 분석(병합 계층 군집) 구현 클론 코딩

In [3]:
import numpy as np
np.random.seed(123)
X = np.random.random_sample([5,3]) * 10

import pandas as pd
variables = ['X', 'Y', 'Z']
labels = ['ID_0', 'ID_1', 'ID_2', 'ID_3', 'ID_4']
df = pd.DataFrame(X, columns=variables, index=labels)
df

from scipy.spatial.distance import pdist, squareform
Y = pdist(df)
Y


from scipy.cluster.hierarchy import linkage

row_clusters = linkage(pdist(df, metric='euclidean'),
                       method='complete')

pd.DataFrame(row_clusters,
             columns = ['row label 1', 'row label 2', 'distance', 'no. of items in clust.'],
             index = ['cluster %d' %(i+1) for i in range(row_clusters.shape[0])])

           row label 1  row label 2  distance  no. of items in clust.
cluster 1          0.0          4.0  3.835396                     2.0
cluster 2          1.0          2.0  4.347073                     2.0
cluster 3          3.0          5.0  5.899885                     3.0
cluster 4          6.0          7.0  8.316594                     5.0